.docucast-flex {
  display: inline-flex;
  align-items: flex-end;
  gap: 0;
}
.docucast-flex b, .docucast-flex span {
  display: inline-block;
  line-height: 1;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}
.docucast-flex .docucast-big {
  position: relative;
  top: 0.18em;
}
