@media (max-width: 600px) {
  .socialLinksBar {
    margin-top: 0.01em !important;
    margin-bottom: 1em !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    gap: 24px !important;
  }
}
/* Only increase icon size for footer-specific usage */


.socialLinksBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
  margin-bottom: 2.5em;
  flex-wrap: wrap;
}
/* Reduce gap for xs size */
 .xsGap {
  gap: 10px !important;
}

/* Remove margin-bottom when used on JumpIn page */
.noMarginBottom {
  margin-bottom: 0 !important;
}

.socialLinksBar a {
  color: #D2691E;

  transition: transform 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .socialLinksBar a {
    font-size: 22px;
  }
  .socialLinksBar .xs {
    font-size: 18px !important;
  }
  .socialLinksBar .sm {
    font-size: 32px !important;
  }
}

.socialLinksBar .xs {
  font-size: 24px;
}
.socialLinksBar .sm {
  font-size: 32px;
}

.socialLinksBar a:hover {
  transform: scale(1.2);
  color: #b86b00;
}

.showcaseLink {
  color: #D2691E;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 32px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.2s;
  position: relative;
  top: 2px;
  margin-bottom: 2em;
}

.showcaseLink:hover {
  color: #b86b00;
  text-decoration: underline;
}
