.docucast-tm-wrap {
  display: inline-block;
  position: relative;
  margin-right: 0.5em;
}


.reg-mark {
  display: inline-block;
 
  font-size: 0.9em;
  line-height: 1.7em;
 
}



  



.accordion-header {
  width: 100%;
  background: none;
  border: none;
  font-size: 2.2rem;
  font-weight: 700;
  font-style: italic;
  padding: 10px 0 8px 0;
  cursor: pointer;
  outline: none;
  color: rgb(210, 105, 30);
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'Rubik';
  gap: 0;
}

.accordion-header:focus,
.accordion-header:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}






.accordion-title {
  font-weight: 600;
  line-height: 1.3;
  font-size: 1.125rem; /* 18px default */
  color: rgb(210, 105, 30);
  font-family: 'Rubik';
  opacity: 1 !important;
  text-align: center;
  margin: 0 auto;
  display: block;
}

@media (max-width: 600px) {
  .accordion-header {
    justify-content: space-between;
    align-items: center;
  }
  .accordion-title {
    font-size: 1.8rem; /* 16px on small screens */
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .accordion-header-icon {
    margin-left: auto;
    margin-right: 0;
    align-self: flex-end;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .accordion-title {
    font-size: 2.2rem; /* ~22px on medium screens */
  }
  .accordion-header {
    justify-content: flex-start;
  }
  .accordion-header-icon {
    margin-left: auto;
    margin-right: 0;
  }
}


@media (min-width: 1025px) {
  .accordion-title {
    font-size: 2rem; /* ~22px on large screens */
  }
  .accordion-header {
    justify-content: flex-start;
  }
  .accordion-header-icon {
    margin-left: auto;
    margin-right: 0;
  }
}




.accordion-header-icon {
  color: rgb(210, 105, 30);
  align-self: flex-start;
  vertical-align: super;
}
@media (max-width: 600px) {
  .accordion-header-icon {
    font-size: 1rem; /* 16px on small screens */
  }
}
@media (min-width: 601px)  {
  .accordion-header-icon {
    font-size: 1.5rem; /* ~22px on medium screens */
  }
}



.accordion-section {
  border-bottom: 1px solid #993e3e;
  margin-bottom: 2px;
  padding-bottom: 0;
  width: 100%;
}

@media (max-width: 600px) {
  .accordion-section {
    width: 75%;
   
  }
}

.accordion-content {
  padding: 0 0 18px 0;
  color: #444;
  font-size: 18px;
  margin: 0;
}
