.docucast-tm-wrap {
  display: inline-block;
  position: relative;

}


.reg-mark {
  display: inline-block;
 
  font-size: 0.9em;
  line-height: 1.7em;
 
}



  
.accordion-header:hover .accordion-header-text,
.accordion-header:focus .accordion-header-text {
  color: #1976d2;
}

.accordion-header:hover .accordion-header-icon,
.accordion-header:focus .accordion-header-icon {
  color: #1976d2;
}



.accordion-header {
  width: 100%;
  background: none;
  border: none;
  font-size: 2.2rem;
  font-weight: 700;
  font-style: italic;
  padding: 10px 0 8px 0;
  cursor: pointer;
  outline: none;
  color: rgb(210, 105, 30);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik';
  gap: 0;
}

.accordion-header-text {
  font-weight: 700;
  font-style: italic;
  color: rgb(210, 105, 30);
  flex: none;
  text-align: center;
  opacity: 1 !important;
  background: none;
  font-family: 'Rubik';
  transition: color 0.2s;
  border-radius: 0;
  padding: 0;
  display: flex;
  align-items: center;
  white-space: normal;
  word-break: break-word;
  max-width: 80vw;
}

.accordion-header-icon {
  font-size: 20px;
  min-width: 0;
  margin-left: 0;
  text-align: right;
}

@media (max-width: 600px) {
  .accordion-header {
    font-size: 2rem;
  }
  .accordion-header-text {
    max-width: 70vw;
    font-size: 1em;
  }
  .accordion-header-icon {
    font-size: 18px;
    margin-left: 0;
  }
}


.accordion-section {
  border-bottom: 1px solid #993e3e;
  margin-bottom: 2px;
  padding-bottom: 0;
}

.accordion-content {
  padding: 0 0 18px 0;
  color: #444;
  font-size: 18px;
  margin: 0;
}
